<div class="container w-50 mt-5">
  <h1>Tutos</h1>

  <ul>
    <% @tutos.each do |tuto| %>
        <li><%= link_to tuto.name, tuto_path(tuto) %></li>
    <% end %>
  </ul>

  <%= link_to "Nouveau Tuto", new_tuto_path, class: "btn btn-primary" %>
</div>
